*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: beige;
}

#container{
   
    position: absolute;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
     padding: 15px;
}

#conteudo{
    margin: 10px;
}


fieldset{
    
    box-shadow: 2px, 2px, 2px rgba(0,0,0,0.5);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    padding: 15px;
    background-color: #0A4760;
}



#form-btn-cadastrar{
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    color: #fff;
    box-shadow: 2px, 2px, 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #0A4760;
    padding: 10px;
    position: absolute;
  
}

#form-btn-cadastrar:hover{
    background: #1891C3;
    box-shadow: 2px, 2px, 2px rgba(0,0,0,0.2);
    border: 0;
    cursor: pointer;
}

.tamanhoinput{
    width: 350px;
}

input,label{

    outline: 0;
    margin: 0;
    display: inline-block;
    box-shadow: 2px, 2px,2px rgba(0,0,0,0.5);
}

textarea{
    margin-left: 15px;
    outline: none;
}
