:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-sucess: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(var(--color-light));
}

body{
    background-color: var(--color-background);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main';
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--color-primary) ;
    grid-area: header;
}
#container{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    margin: 1.5% auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: var(--color-light);
}

/* estilização em geral */

h1{

    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}

.inputs-divisoria{
    display: flex;
}

/* header */

#logo img{
    margin-left: 20px;;
    width: 80%;;
    
}

button{
    margin-right: 20px;
    border-radius: 50%;
}
button img{
   
    width: 30px;
}

/* formulario */

.tamanhoinput{
    width: 100%;
}
.btn-cadastrar{
    display: flex;
    justify-content: end;
}
.btn-cadastrar input{
    color: var(--color-white);
    background-color: var(--color-primary);
}

.btn-cadastrar input:hover{
    background-color: var(--color-primary-variant);
}